@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Makes the bottom nav items take full screen */
#bottom_nav ul {
  width: 100%;
}
#bottom_nav ul a {
  width: 100%;
}
svg{
  margin:10px;
  display: unset;
  vertical-align: unset;
}


.icon-container {
  position: relative;
  display: inline-block;
}

.icon {
  transition: transform 0.3s ease;
}

.hovered {
  transform: rotateY(180deg);
}

.language-name {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.icon-container:hover .language-name {
  opacity: 1;
}

#profilePic{
  border-radius: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
}


.image-container {
  max-width: 40vw;
  margin: 0 auto;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 60%, transparent 100%);
}

.ProjectGH{
  background-color: rgb(16, 236, 60);
  padding: 5px;
  border-radius: 50px;
  font-weight: bold;
}

.ProjectLD{
  background-color: pink;
  padding: 5px;
  border-radius: 50px;
  font-weight: bold;

}